/*Trying to make a loop to generate a list of links from the jokeRegistry, shown as the name of the websites*/
<table>
    {{#each jokeService}}
        <tr>
            <td>{{this.name}}</td>
            <td>{{this.adress}}</td>
        </tr>
    {{/each}}
</table>