body {
    background-color: aliceblue;
}

h1, h2 {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: 20% 5% 50% 25%;
    grid-auto-flow: column;
    gap: 2px;
}

#ourJokes, #addJoke, #otherJokes {
    background-color: lavender;
    padding: 20px;
}

#addJoke {
    display: grid;
    grid-area: 1/1/4/3;         /*  startRow/startColumn/endRow/endColumn  */
    gap: 8px;
}

#addJoke>h2 {
    text-align: center;

    grid-area: 1/1/1/3;         /*  startRow/startColumn/endRow/endColumn  */
}

#setupLbl {
    text-align: left;

    grid-area: 2/1/2/2;         /*  startRow/startColumn/endRow/endColumn  */
}

#setupInp {
    grid-area: 2/2/2/3;         /*  startRow/startColumn/endRow/endColumn  */
}

#punchlineLbl {
    text-align: left;

    grid-area: 3/1/3/2;         /*  startRow/startColumn/endRow/endColumn  */
}

#punchlineInp {
    grid-area: 3/2/3/3;         /*  startRow/startColumn/endRow/endColumn  */
}

button {
    grid-area: 2/3/4/3;         /*  startRow/startColumn/endRow/endColumn  */
}

#ourJokes {
    grid-area: 1/3/4/3;         /*  startRow/startColumn/endRow/endColumn  */
}

#otherJokes {
    grid-area: 1/4/4/4;         /*  startRow/startColumn/endRow/endColumn  */
}